<!--<div class="footer_placeholder"></div>-->
<footer class="footer">
	<div class="wrapper">
		<div class="container">
			<div class="footer__menu">
				<div class="footer__menu-col">
					<div class="footer__menu-box">
						<div class="footer__menu-title">GMHOST</div>
						<div class="footer__menu-container">
							<a href="#" class="footer__menu-link">Блог</a>
							<a href="#" class="footer__menu-link">Партнерская програма</a>
							<a href="#" class="footer__menu-link">FAQ</a>
							<div class="hr"></div>
							<a href="#modal-autorization" class="footer__menu-link type-2 js-modal" >Войти</a>
						</div>
					</div>
				</div>
				<div class="footer__menu-col">
					<div class="footer__menu-box">
						<div class="footer__menu-title">Услуги</div>
						<div class="textwidget footer__menu-container">
							<a href="#" class="footer__menu-link">Linux серверы</a>
							<a href="#" class="footer__menu-link">Windows серверы</a>
							<a href="#" class="footer__menu-link">Виртуальный хостинг</a>
							<a href="#" class="footer__menu-link">Выделенные серверы</a>
							<a href="#" class="footer__menu-link">Размещение серверов</a>
							<a href="#" class="footer__menu-link">Разработка сайтов</a>
							<a href="#" class="footer__menu-link">Регистрация доменов</a>
							<a href="#" class="footer__menu-link">SSL-сертификаты</a>
							<a href="#" class="footer__menu-link">Резервное копирование</a>
							<div class="hr"></div>
							<a href="#" class="footer__menu-link type-2">Looking Glass</a>
						</div>
					</div>
				</div>
				<div class="footer__menu-col">
					<div class="footer__menu-box">
						<div class="footer__menu-title">Контакты</div>
						<div class="footer__menu-container">
							<p>Техподдержка: <a href="mailto:support@gmhost.hosting">support@gmhost.hosting</a></p>
							<div class="hr"></div>
							<ul class="phone-list">
								<li class="phone-list__item">
								<span class="phone-list__item-icon ic_kyivstar">
	                                <img src="../img/ic_kyivstar.png" alt="erewr">
	                            </span>
									<a href="tel:+380671196777" class="phone-list__phone-link">+380(67)119 6 777</a>
								</li>
								<li class="phone-list__item">
								<span class="phone-list__item-icon ic_mts">
	                                <img src="../img/ic_mts.png" alt="">
	                            </span>
									<a href="tel:+380691136777" class="phone-list__phone-link">+380 (95) 113 6 777</a>
								</li>
								<li class="phone-list__item">
								<span class="phone-list__item-icon ic_life">
	                                <img src="../img/ic_life.png" alt="">
	                            </span>
									<a href="tel:+380637226777" class="phone-list__phone-link">+380 (63) 722 6 777</a>
								</li>
								<li class="phone-list__item">
								<span class="phone-list__item-icon ic_ua">
	                                <img src="../img/ic_ua.png" alt="">
	                            </span>
									<a href="tel:+380442213343" class="phone-list__phone-link">+380 (44) 221 3 343</a>
								</li>
								<li class="phone-list__item">
								<span class="phone-list__item-icon ic_ru">
	                                <img src="../img/ic_ru.png" alt="">
	                            </span>
									<a href="tel:+74993807193" class="phone-list__phone-link">+7 (499) 380 7 193</a>
								</li>
								<li class="phone-list__item">
								<span class="phone-list__item-icon ic_ee">
	                               <img src="../img/ic_ee.png" alt="">
	                            </span>
									<a href="tel:+3728801999" class="phone-list__phone-link">+372 880 1 999</a>
								</li>
							
							</ul>
							<p>29007 Украина, г.Хмельницкий,</p>
							<p>ул. Заводская 46, офис GMhost</p>
							<div class="hr"></div>
							<a href="#" class="footer__menu-link type-2">Сообщить о нарушении</a>
						</div>
					</div>
				</div>
				<div class="footer__menu-col">
					<div class="footer__menu-box">
						<div class="footer__menu-title">О нас</div>
						<div class="footer__menu-container">
							<a href="#" class="footer__menu-link">Дата центры</a>
							<a href="#" class="footer__menu-link">Бренд матириалс</a>
							<a href="#" class="footer__menu-link">Легал</a>
							<a href="#" class="footer__menu-link">Контакты</a>
							<a href="#" class="footer__menu-link">Партнерка</a>
						</div>
					</div>
					<div class="footer__menu-box">
						<div class="footer__menu-title">Курсы валют</div>
						<div class="footer__menu-container">
							<p>1$ = 27.9808 грн</p>
							<p>1$ = 66.3309 руб</p>
							<p>1$ = 0.877 евр</p>
						</div>
					</div>
				</div>
				
			</div>
			<div class="pay-method">
				<ul class="pay-method__list">
					<li class="pay-method__list-item">
						<a href="#" class="pay-method__item-link">
							<span class="ic ic_mastercard">
	                            <svg width="80" height="48">
	                                <use xlink:href="#ic_mastercard"></use>
	                            </svg>
	                        </span>
						</a>
					</li>
					<li class="pay-method__list-item">
						<a href="#" class="pay-method__item-link">
							<span class="ic ic_paypal">
		                        <svg width="187" height="48">
		                            <use xlink:href="#ic_paypal"></use>
		                        </svg>
		                    </span>
						</a>
					</li>
					<li class="pay-method__list-item">
						<a href="#" class="pay-method__item-link">
							<span class="ic ic_visa">
		                        <svg width="153" height="48">
		                            <use xlink:href="#ic_visa"></use>
		                        </svg>
		                    </span>
						</a>
					</li>
					<li class="pay-method__list-item">
						<a href="#" class="pay-method__item-link">
							<span class="ic ic_privatbank">
		                        <svg width="49" height="48">
		                            <use xlink:href="#ic_privatbank"></use>
		                        </svg>
		                    </span>
						</a>
					</li>
					<li class="pay-method__list-item">
						<a href="/payment.html">Другие способы оплаты</a>
					</li>
				</ul>
				<div class="hr"></div>
			</div>
			<div class="copyright">
				<p>ООО «ДЖИ ЭМ ХОСТ»| Код ЕГРПОУ: 41383906| ИНН 413839022250| 29007 Украина, г.Хмельницкий, ул. Заводская, 46 </p>
				<p>GMhostGrupp OU| Registrikood: 14418832| 10152 Estonia, Harju maakond, Tallinn, Kesklinna linnaosa, Tuukri tn 19</p>
				<p>©GMhost является зарегистрированной торговой маркой. Все права защищены. 2013-2019</p>
			</div>
		</div>
	</div>
</footer>
